* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
  
  
  header {
    background-color: #eca60d;
  
  }
  
  a:hover {
    color: black;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  p {
    margin: 10px 0 10px 0;
  }
  
  .title h3 {
    font-size: 32px;
    text-decoration: underline;
    color: rgba(245, 40, 50, 1);
  }
  
  
  
  .menu ul li {
    float: left;
    margin-left: 20px;
    list-style: none;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  ul.menu_child {
    position: absolute;
    width: 225px;
    background-color: #fa8258;
    z-index: 9999;
  }
  
  ul.menu_child li {
    padding: 15px 0 0 0;
    float: none;
    display: none;
  }
  
  .menu ul li:hover ul.menu_child li {
    display: flex!important;
  }
  
  /*Slider*/
  
  .mySlides {
    display: none;
  }
  
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: unset;
  }
  
  img {
    vertical-align: middle;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
  
  /*end slider*/
  
  .slider-margin {
    margin-top: 20px;
  }
  
  .image img {
    width: 100%;
  }
  
  
  
  footer {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0 10px 0;
  }
  
  ul.menu_footer li {
    list-style: none;
  }
  
  .footer {
    padding-bottom: 20px;
  }
  
  .footer h3 {
    color: rgba(100, 255, 10, 1);
  }
  
  .copy_right {
    padding: 10px 0 0px 0;
    text-align: center;
    border-top: 1px solid #fff;
  }
  
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  a {
    color: black;
  }
  
  
  /* Sua lai */
  
  .list-item {
      display: flex;
      margin: 20px 0px;
      gap: 10px;
  }
  
  .list-item .item {
      flex-basis: 20%;
      flex-shrink: 1;
      height: 400px;
      background-color: white;
      border-radius: 6px;
      border: 1px solid #ddd; 
  }
  
  .list-item .item .image {
      width: 100%;
      height: 65%;
      padding: 10px;
  }
  
  .list-item .item .image img {
      width: 100%;
      height: 100%;
      
  }
  
  .list-item .item .name {
      padding: 0px 10px;
  }
  .list-item .item .price {
      padding: 0px 10px;
  }
  
  
  .header .logo {
      width: 100%;
      height: 60px;
      display: flex;
      
      
  }
  
  .header .logo .search{
     width: 70%;
     height: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     padding: 0px 10px;
     position: relative;
  }
  
  .header .logo .search input {
      width: 40%;
      height: 60%;
      padding: 15px 10px;
      padding-right: 40px;
      outline: none;
      border-radius: 4px;
      border: none;
  }
  
  .header .logo .search i {
      width: 40px;
      height: 40px;
  
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
  
      right: 10px;
  }
  
  
  .header .logo .icon {
      width: 30%;
      height: 100%;
  }
  
  .header .logo .icon img {
     width: 100%;
     height: 100%;
     object-fit: contain;
     
  }
  
  
  .header .menu {
  
  }
  
  .header .menu .menu-nav {
      width: 100%;
      height: 50px;
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
  
  }
  .header .menu .menu-nav li {
     flex-basis: 10%;
     display: flex;
     align-items: center;
  
  }
  
  .banner {
      width: 100%;
      height: 75vh;
  }
  .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .main {
      padding: 60px 0px;
  }
  
  
  .footer {
      display: flex;
      justify-content: space-between;
      color: white;
  }
  
  .footer ul li a{
      color: white;
  }
  .detail-main{
    width: 100%;
    height: 100%;
    display: flex;

  }
  .detail-main .main1{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    
  }
  .detail-main .main2{
    width: 50%;
    height: 100%;
  }
  .detail-main .main1 img{
    width: 100%;
    height: 100%;



  }
  .detail-main .main1 .img{
    max-width: 450px;
    padding: 10px 10px;

    
  }
  .bodyhead .sp{
    width: 100%;
    height: 100%;
  }
  .bodyhead .diadiem{
    width: 100%;
    height: 100%;
  }
  .bodyhead{
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid rgba(149, 143, 131, 0.659);


  }
  
  